.register-page {
    .tab {
        padding: .5rem 0 .77rem 0;
        margin: 0 auto;
        line-height: .21rem;
        font-size: .18rem;
        color: #242424;
        width: 1.14rem;
        &-item {
            font-weight: bold;
            display: inline-block;
         
            &-right {
                float: right;
                color: #73D13D
            }
            a {
                color: #242424;
                text-decoration: none;
            } 

        }

    }


    .form {
        margin-bottom: .6rem;
        &-item {
            /* height: .56rem; */
            display: flex;
            padding: .16rem .3rem;
            line-height: .24rem;
            font-size: .16rem;
    
            &-title {
                width: .7rem;
                margin-right: .2rem;
            }
    
            &-content {
                flex: 1;
                border: none;
                outline: none;
                color: #242424;
    
                &::-moz-placeholder {
                    color: #D9D9D9;
                }
            }

           
        }
    }


    .submit {
        margin: 0 .3rem .94rem .3rem;
        line-height: .5rem;
        border-radius: 25px;
        background: #73D13D;
        box-shadow: 0px 6px 6px 0px #D9F7BE;
        font-size: .16rem;
        color: #FFF;
        text-align: center;
    }

   
}