.category-page {
    position: relative;

    .title {
        display: flex;
        font-size: .16rem;
        line-height: .32rem;
        margin: .1rem;


        .iconfont {
            margin: 0 .1rem;
        }

        &-input {
            flex: 1;
            margin-right: .3rem;
            padding: 0 .2rem;
            background-color: #F5F9FA;
            outline: none;
            border: none;
            border-radius: .15rem;
        }
    }

    .category {
        position: absolute;
        bottom: .52rem;
        top: .52rem;
        left: 0;
        width: .96rem;
        background: #F5F9FA;
        overflow-y: scroll;
        &-item {
            text-align: center;
            font-size: .14rem;

            // padding: .1rem;
            line-height: .48rem;
            color: #242424;
            // margin-bottom: .1rem;


            &-active {
                background: #FFF;
            }
        }
        
    }

    .tag {
        position: absolute;
        left: .96rem;
        top: .52rem;
        right: 0;
      
        display: flex;
        height: .48rem;
        font-size: .12rem;
        white-space: nowrap;
        align-items: center;
        overflow-x: scroll;

        &-item {
            margin: 0 .1rem;
            line-height: .26rem;
            border-radius: .05rem;
            background: #F5F9FA;
            padding: .05rem .1rem;
            &-active {
                background: #52c41a;
            }
        }

    }

    .product {
        position: absolute;
        left: .96rem;
        top: 1rem;
        right: 0;
        bottom: .52rem;
        font-size: .14rem;
        overflow-y: scroll;

        &-category {
            padding: .1rem;
        }
        &-item {
            display: flex;
            position: relative;
            &-img {
                width: .8rem;
                height: .8rem;
            }
            &-content {
                flex: 1;
                // margin: .08rem;
            }
            &-title {
                margin-top: .07rem;
            }
            &-sales {
                margin: .07rem 0;
                font-size: .12rem;
                color: #b1b1b1;
            }

            &-price {
                font-size: .18rem;
                color: red;
                .yen {
                    font-size: .12rem;
                }
            }

            &-btn {
                position: absolute;
                right: .2rem;
                top:.5rem;
                background: #73D13D; 
                color: #FFF;
                padding: .02rem .09rem;
            }
        }
        
    }

    .docker {
        width: 100%;
        background:#FFF;
        display: flex;
        text-align: center;
        font-size: .14rem;
        position: fixed;
        bottom: 0;
       
        &-item {
            flex: 0 0 25%;
            margin: .01rem 0;
        }
        &-item-active {
            color: #73D13D;
        }
        .iconfont{
           font-size: .3rem;
        }
    }


    .cart {
        &-content {
            display: flex;
            border: .01rem solid #F4F4F4;
            padding: .2rem .2rem .34rem .2rem;

            &-img {

                width: .7rem;
                height: .7rem;
                margin-right: .48rem;
            }

            &-info {
                font-size: .12rem;
            }

            &-title {
                margin-right: .45rem;
                line-height: .18rem;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                word-break: break-all;
            }

            &-price {
                margin-top: .1rem;
                color: #F81C00;
                font-size: .22rem;

                .yen {
                    font-size: .14rem;
                    margin-right: .02rem;
                    font-weight: normal;
                }
            }

        }



        &-count {
            padding: .35rem .16rem;
            font-size: .14rem;
            line-height: .28rem;
            color: #242424;
            height: .28rem;

            &-btn {
                float: right;

                &-item &-count {
                    display: inline-block;
                    background: #F4F4F4;
                    font-size: .18rem;
                    line-height: .28rem;
                    text-align: center;
                }

                &-item {
                    width: .18rem;
                }

                &-count {
                    margin: 0 .1rem;
                    padding: 0 .08rem;
                }
            }


        }

        &-btns {
            display: flex;
            font-size: .16rem;
            .cart-btn-left,.cart-btn-right {
                flex: 1;
                margin: .1rem .16rem;
                border-radius: .22rem;
                background: #73D13D;
                color: #FFF;
                line-height: .44rem;
                font-size: .16rem;
                text-align: center;
            }
            .cart-btn-left {
                background:#95DE64;
            }
        }

        

    }

}