* {
    margin: 0;
    padding: 0;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4769162 */
  src: url('//at.alicdn.com/t/c/font_4769162_10z53op6juin.woff2?t=1735202936271') format('woff2'),
       url('//at.alicdn.com/t/c/font_4769162_10z53op6juin.woff?t=1735202936271') format('woff'),
       url('//at.alicdn.com/t/c/font_4769162_10z53op6juin.ttf?t=1735202936271') format('truetype');
}

  .iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cc-arrow-right:before {
    content: "\e60c";
  }
  

.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    
}
