.modal {
    position: absolute;
    width: 3rem;
    height: 1rem;
    background: rgb(0, 0, 0,.6);
    left:50%;
    top:50%;
    margin-left: -1.5rem;
    margin-top: -0.5rem;
    border-radius: .08rem;
    display: table;
    &-text {
        font-size: .16rem;
        padding: .2rem;
        text-align: center;
        display: table-cell ;
        vertical-align: middle;
        color: #FFF;
    }

}